<article class="container">

 	<h1>{{title}}</h1>

 	<h3>Who are we?</h3>

 	<p>We are a group of amateur bird watchers who meet most Friday mornings for a spot of bird watching. Originally we attended a WEA course on bird watching, led by keen birder and environmentalist Dave Steel. When Dave retired we decided our weekly fix of birds was not to be missed so decided to carry on on an informal basis.</p>

	<p>Some of us are complete beginners, some are lifelong birders with great knowledge and ID skills, but we all love being out in the fresh air seeing and listening to birds. Binoculars are recommended and some of us have telescopes which we are happy to share.</p>

	<p>If you are interested please come and join our friendly group.</p>
  
  	<br/>

  	<h3>What do we do?</h3>
  
  	<p>Each week we arrange to meet at a specified location at 10am. Lifts can usually be arranged for those unable to drive. Some locations are pretty local, for example Fletcher Moss or Chorlton Meadows, while some are further afield - Leighton Moss or the beautiful Goyt Valley. For the longer trips we take a picnic lunch and spend a full day, for the shorter journeys we usually finish around 12.30 but this is very flexible depending on the weather, birds and how hungry we are!</p>
  
  	<br/>
  
  	<h3>Newsletter</h3>
  	
  	<p>Every week we send out a weekly round up of what we have seen and heard, to see previews of the newsletter and sign up click <a href="/newsletter/register/">here!</a></p>

</article>

