<article class="container">
<p><a href="/newsletter/register/">Sign up to receive our newsletter!</a></p>

   <h1>Upcoming events</h1>

   <h3>Pennington Flash</h3>
   <h4>September 1st 2017</h4>
   <p>Off St Helens Road</p>
   <p>Leigh</p>
   <p>Greater Manchester</p>
   <p>WN7 3PA</p>
   <p><a href="http://www.visitnorthwest.com/sights/pennington-flash/">Website</a></p>

   <h3>Astley Moss</h3>
   <h4>September 8th 2017</h4>
   <p>Tyldesley</p>
   <p>Manchester</p>
   <p>M29 7LG</p>
   <p><a href="http://www.lancswt.org.uk/reserves/astley-moss">Website</a></p>

   <h3>Martin Mere</h3>
   <h4>September 15th 2017</h4>
   <p>Fish Lane</p>
   <p>Burscough</p>
   <p>L40 0TA</p>
   <p><a href="http://www.wwt.org.uk/wetland-centres/martin-mere/">Website</a></p>

   <h3>Fletcher Moss</h3>
   <h4>September 22nd 2017</h4>
   <p>Manchester</p>
   <p>M20 2RQ</p>
   <p><a href="http://fletchermossgardens.org.uk/">Website</a></p>

   <h3>Moore Nature Reserve</h3>
   <h4>September 29th 2017</h4>
   <p>Lapwing Lane</p>
   <p>Warrington</p>
   <p>Cheshire</p>
   <p>WA4 6XE</p>
   <p><a href="http://www.fccenvironment.co.uk/moorenaturereserve.html">Website</a></p>

   <h3>Leighton Moss</h3>
   <h4>October 6th 2017</h4>
   <p>Carnforth</p>
   <p>Lancashire</p>
   <p>LA5 0SW</p>
   <p><a href="http://www.rspb.org.uk/reserves-and-events/find-a-reserve/reserves-a-z/reserves-by-name/l/leightonmoss/index.aspx">Website</a></p>

   <h2>Come and join us!</h2>

   <h4>Fridays</h4>
   <p align="left">We always welcome fellow twitchers into the fold, if you would like to find out more information please click the contact us link below and ask away. Alternatively click on our social media links.</p>
   <p><a href="/contact">Contact us</a></p>

   <h4>Tuesdays</h4>
   <p align="left">If you are interested but not available on Fridays then we also have a group who go out on Tuesdays. Again, for more information click on the contact us link or get in touch via social media. </p>
   <p><a href="/contact">Contact us</a></p>

</article>

