<article class="container">

	<h1>{{title}}</h1>

	<p>Welcome to the website of the wonderful Birding Group of Sale, we are a group of lovely bird watchers, find out more about us by going to our <a href="/about">about</a> page.  
	</p>
	
	<p>We meet every Friday and rotate through a number of different sites - check out the <a href="/events">event</a> page for where we've been and where we have yet to go!
	</p>

	<p>We take many pictures of the birds we see, some of which can be seen <a href="/media">here </a>. Also on the page is the bird song of some common birds for you to listen to, this helps us identify the birds. There is also a video of some birds from one of our meetings.</p>

	<p>We also have a weekly round up <a href="/newsletter/register/">newsletter</a> which goes out after each meeting. You can sign up to receive our newsletter even if you can't attend our meetings.</p>

</article>

