<section class="container">

	<h1>{{title}}</h1>
	<h4>{{info}}</h4>

  <section class="panel-group col-lg-12 col-sm-12 col-md-12 col-xs-12" id="accordion">

    <section class="panel panel-default">
    
      <article class="panel-heading">
      
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapsePhoto">Photo's</a>
        </h4>

      </article>
	    
      <article id="collapsePhoto" class="panel-collapse collapse">
        
        <article class="panel-body">

          <article class="row">

            <article class="col-sm-3">
              <figure>
                <img src="images/birdpics/barnowl.jpeg" alt="A Barn Owl" height="150px" width="150px">
                <figcaption>Barn Owl</figcaption>
              </figure>  
            </article>
          
            <article class="col-sm-3">
          <figure>
            <img src="images/birdpics/littleegret.jpg" alt="A Little Egret" width="150" height="150">
            <figcaption>Little Egret</figcaption>
          </figure>  
          </article>

          <article class="col-sm-3">
    
          <figure>
            <img src="images/birdpics/cattleegret.jpg" alt="A Cattle Egret" height="150px" width="150px">
            <figcaption>Cattle Egret</figcaption>
          </figure>  
          </article>
    
          <article class="col-sm-3">
          <figure>
            <img src="images/birdpics/kingfisher.jpg" alt="A Kingfisher" width="150" height="150">
            <figcaption>Kingfisher</figcaption>
          </figure>  
          </article>
          </article>

          <article class="row">
          
          <article class="col-sm-3">
          <figure>
            <img src="images/birdpics/nuthatch.jpg" alt="A Nuthatch" height="150px" width="150px">
            <figcaption>Nuthatch</figcaption>
          </figure>  
          </article>

          <article class="col-sm-3">
          <figure>
            <img src="images/birdpics/puffin.jpg" alt="A Puffin" width="150" height="150">
            <figcaption>Puffin</figcaption>
          </figure>  
          </article>

          <article class="col-sm-3">
            <figure>
              <img src="images/birdpics/arctictern.jpg" alt="An Arctic Tern" height="150px" width="150px">
              <figcaption>Arctic Tern</figcaption>
            </figure>  
          </article>

            <article class="col-sm-3">
          <figure>
            <img src="images/birdpics/robin.jpg" alt="A Robin" height="150px" width="150px">
            <figcaption>Robin</figcaption>
          </figure>

          </article>
        </article>
        </article>
      </article>

    </section> 
    
    <section class="panel panel-default">

      <article class="panel-heading">
        
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSong">Bird Song</a>
        </h4>

      </article>

  		<article id="collapseSong" class="panel-collapse collapse">

        <article class="panel-body">

          <p>Blackbird</p>
    			<p>
  	 	     <audio controls preload='auto'>
  			     
             <source src="song/blackbird.mp3" type="audio/mpeg">
  			     <source src="song/blackbird.ogg" type="audio/ogg">
  			     <source src="song/blackbird.aac" type="audio/mp4">
  		      
            </audio>   		
          </p>

  			  <p>Chiffchaff</p>
          <p >
  		      <audio controls preload='auto'>
  			     
              <source src="song/chiffchaff.mp3" type="audio/mpeg">
  			      <source src="song/chiffchaff.ogg" type="audio/ogg">
  			      <source src="song/chiffchaff.aac" type="audio/mp4">
  		      
            </audio>   		
          </p>
  				
          <p>Song Thrush</p>
    			<p>
  		      <audio controls preload='auto'>
  			
              <source src="song/songthrush.mp3" type="audio/mpeg">
  			      <source src="song/songthrush.ogg" type="audio/ogg">
  			      <source src="song/songthrush.aac" type="audio/mp4">
  		      </audio>   		
          </p>

          <p>Willow Warbler</p>
          <p>
            <audio controls preload='auto'>
              
              <source src="song/willowwarbler.mp3" type="audio/mpeg">
              <source src="song/willowwarbler.ogg" type="audio/ogg">
              <source src="song/willowwarbler.aac" type="audio/mp4">
            
            </audio>   		
          </p>

        </article>
        
      </article>

    </section>

    <section class="panel panel-default">

      <article class="panel-heading">

        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseVideo">Video</a>
        </h4>

      </article>

      <article id="collapseVideo" class="panel-collapse collapse">

        <article class="panel-body">

          <p>The video below is of some black-necked and little grebes at Woolston Eyes</p>
          <p>
            <video controls="controls" poster="images/birdpics/greatcrestedgrebe.jpg" preload="auto" width="300px" height="300px">
              
              <source src="videos/woolstoneyes.mp4" type="video/mp4">
            
            </video>
          </p>

        </article>
      
      </article>
    
    </section>    

  </section>

</section>
