<div class="container">

<h1>{{title}}</h1>


	<div class="row">
		<div class="col-12">

			<p>I'm A Believer</p>

			<p>
  		<audio controls preload='auto'>
  			<source src="audio/believer.mp3" type="audio/mpeg">
  			<source src="audio/believer.ogg" type="audio/ogg">
  			<source src="audio/believer.aac" type="audio/mp4">
  		</audio>   		</p>
			
		</div>

		
		<div class="col-12">

			<p>Daydream Believer</p>
  			
  			<p>
  		<audio controls preload="auto">
  			<source src="audio/daydream.mp3" type="audio/mpeg; codecs=mp3">
  			<source src="audio/daydream.ogg" type="audio/ogg; codecs=vorbis">
  			<source src="audio/daydream.aac" type="audio/mp4">
  		</audio>   	</p>
      </div>		

		<div class="col-12">

			<p>Clarksville</p>
  			
  			<p>
  		<audio controls preload="auto">
  			<source src="audio/clarksville.mp3" type="audio/mpeg; codecs=mp3">
  			<source src="audio/clarksville.ogg" type="audio/ogg; codecs=vorbis">
  			<source src="audio/clarksville.aac" type="audio/mp4">
  		</audio>   	</p>



		</div>

	
		<div class="col-12">

			<p>Stepping Stone</p>
  			
  			<p>
  		<audio controls preload="auto">
  			<source src="audio/steppingstone.mp3" type="audio/mpeg; codecs=mp3">
  			<source src="audio/steppingstone.ogg" type="audio/ogg; codecs=vorbis">
  			<source src="audio/steppingstone.aac" type="audio/mp4">
  		</audio>   	</p>



		</div>

		
	</div>
</div>


